$padding-left: 20%;
html {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  //background-color: floralwhite;
  background-color: cornsilk;
  font-size: 20px;
  line-height: 1.5;
}

.title {
  position: relative;
  height: auto;
  border-bottom: 2px double black;
  padding-left: $padding-left;
  h1,
  p {
    display: inline-block;
  }
  h1 {
    font-size: 3em;
  }
  p {
    font-style: italic;
    font-size: 16px;
    position: relative;
    top: 1.5em;
    right: 8%;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  border-bottom: 2px double black;
  .navLink {
    display: inline-block;
    margin: 10px 20px;
    a {
      text-decoration: none;
    }
  }
}

section {
  padding: 20px 0px;
  position: relative;
  width: 100%;

  h2 {
    display: block;
    text-align: center;
    margin: 0;
  }
}

.container {
  width: 60%;
  padding-left: $padding-left;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  .projectItem {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px black solid;
    margin: 10px;
    padding: 10px;
    img {
      max-width: 200px;
    }
    hr {
      width: 100%;
    }
  }
}

#about {
  width: 100%;
  background: mediumaquamarine;
}

section::before {
  content: "";
  position: absolute;
  background: url("img/orange-triangle.png") no-repeat;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

section::after {
  content: "";
  position: absolute;
  background: url("img/bottom-right-triangle.png") no-repeat;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.offeringContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offeringItem {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0px 10px;
  align-items: center;
  i {
    display: block;
  }
  h3 {
    text-align: center;
  }
}
