$padding-left: 20%;
$margin: 10px 20px;
$padding: 10px;
$input-font-size: 24px;
$thumbs-up-green: #4bb543;
$thumbs-down-red: #ff0000;
$border-style-single: 2px solid black;
$border-style-double: 2px double black;
$border-style-after: 5px solid white;
$color-bg-primary: cornsilk;
$color-bg-secondary: grey;
$color-section-primary: rgba(244, 110, 66, 1);
$color-section-secondary: rgba(255, 255, 0, 0.2);
$color-section-accent: black;
$line-height: 1.5;
$font-size: 20px;
html {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  //background-color: floralwhite;
  background-color: $color-bg-primary;
  font-size: 20px;
  line-height: $line-height;
  // last minute idea
  background: linear-gradient(
    90deg,
    $color-bg-secondary 0%,
    rgba(244, 222, 66, 0.5) 20% 80%,
    $color-bg-secondary
  );
}

footer {
  height: 100px;
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

.title {
  display: flex;
  align-items: center;
  border-bottom: $border-style-single;
}

.logo {
  padding-left: 10%;
  padding-top: 10px;
  width: 58%;
  display: inline-block;
}

#menu {
  display: none;
  padding: $padding;
}

.navigation {
  display: flex;
  justify-content: center;
  position: relative;
  ul {
    display: flex;
    padding-inline-start: 0px;
    margin: 0px 10px;
  }
  /* stroke */
  ul li h4 {
    position: relative;
  }
  ul li h4:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: black;
    height: 1px;
  }
  ul li h4:hover:after {
    width: 100%;
  }
  ul li h4 {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #555;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  ul li h4,
  ul li h4:after,
  ul li h4:before {
    transition: all 0.5s;
  }
  ul li h4:hover {
    color: black;
  }
  .navLink {
    display: inline-block;
    //  margin: $margin;
    padding: 10px 0px;
    margin: 10px 5px;
  }
  .navLink:hover {
    cursor: pointer;
  }

  a {
    color: black;
    text-decoration: none;
  }
  h4 {
    text-align: center;
  }
}

.fixed {
  position: fixed;
  height: auto;
  width: 100%;
  flex-direction: row;
  top: 0;
  background: linear-gradient(
    90deg,
    grey 0%,
    rgba(244, 222, 66, 1) 20% 80%,
    grey
  );
  z-index: 3;
  border-bottom: $border-style-single;
}

.container {
  width: 60%;
  padding-left: $padding-left;
}

ul {
  li {
    padding: $padding;
    margin: $margin;
    list-style-type: upper-roman;
  }
}
section {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  border-top: $border-style-double;
  overflow: hidden;
  h2 {
    display: block;
    text-align: center;
    margin: 0;
  }
}

#projectsSection {
  display: flex;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .projectItem {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-style-single;
    margin: 10px;
    padding: $padding;
    img {
      max-width: 200px;
    }
    hr {
      width: 100%;
    }
  }
}

#aboutSection {
  width: 100%;
  overflow: hidden;
  p {
    font-size: 40px;
    font-weight: bold;
    display: inline;
  }
  a {
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    background-color: $thumbs-up-green;
    padding: 10px;
    border: $border-style-single;
  }
}
#navHolder {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.sectionBg {
  content: "";
  position: absolute;
  background: radial-gradient(
    ellipse at top left,
    $color-section-primary 0,
    $color-section-secondary 100%
  );
  // background: linear-gradient(
  //     top left,
  //     $color-section-primary,
  //     $color-section-secondary
  //   )
  //   no-repeat;
  top: 0;
  left: 0;
  // z-index: -2;
  height: 100%;
  width: 100%;
  opacity: 0.2;
}

.afterSection {
  content: "";
  position: absolute;
  background: radial-gradient(
    ellipse at top left,
    $color-section-primary 0,
    blueviolet 100%
  );
  top: 0;
  left: 0;
  width: 94%;
  height: 96%;
  transform: skew(-30deg, -4deg);
  opacity: 0.2;
  border: $border-style-after;
  //  z-index: -1;
  mix-blend-mode: color-dodge;
}

.offeringContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .offeringItem {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: $margin;
    align-items: center;
    i {
      display: block;
    }
    h3 {
      text-align: center;
      height: 70px;
    }
    p {
      height: $line-height * $font-size * 5;
      overflow: hidden;
      text-align: center;
    }
  }
}

.contactBtn {
  z-index: 2;
}

#contactSection {
  .contactForm {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      padding: $padding;
      font-size: $input-font-size;
    }
  }

  .contactSent {
    display: none;
  }
  .contactSuccess {
    position: absolute;
    top: 200px;
    width: 10%;
    //<i class="fas fa-thumbs-up"></i>
    i {
      color: $thumbs-up-green;
    }
  }

  .contactFail {
    position: absolute;
    top: 200px;
    width: 10%;
    //<i class="fas fa-thumbs-down"></i>
    i {
      color: $thumbs-down-red;
    }
  }
}
.aboutSub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h3 {
    text-align: center;
  }
}

.list {
  display: flex;
  #mission,
  #vision {
    transform: skew(30deg);
    padding: 20px;

    border: 5px solid rgba(255, 255, 255, 0.2);
    ul {
      padding-inline-start: 0px;
      li {
        background-color: rgba(254, 255, 33, 0.3);
        list-style-position: inside;
        list-style-type: disc;
        border-radius: 5px;
        p {
          font-size: 16px;
          transform: skew(-30deg);
          display: inline-block;
          font-weight: 500;
        }
      }
    }
    .listTitle {
      h3 {
        transform: skew(-30deg);
      }
    }
  }
  div {
    background: radial-gradient(
      ellipse at top left,
      rgba(58, 119.8, 199.2, 0.55) 0%,
      rgba(138, 243, 126, 0.27) 100%
    );
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    ul {
      padding-inline-start: 20px;
      li {
        background: radial-gradient(
          ellipse at top left,
          rgba(58, 119.8, 199.2, 0.8) 0%,
          rgba(138, 243, 126, 0.27) 100%
        );
      }
    }
  }
}

// .navLink {
//   background-color: rgba(250, 250, 10, 0.5);
// }

@media only screen and (max-width: 767px) {
  #menu {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  #navHolder {
    width: 100%;
    height: auto;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    .navLink {
      display: inline-block;
      margin: $margin;
      border: $border-style-single;
      background-color: rgba(250, 250, 10, 0.5);
      a {
        color: black;
        text-decoration: none;
        h4 {
          text-align: center;
        }
      }
    }
  }
  #aboutSection {
    border-top: none;
    .container {
      p {
        display: none;
      }
      .aboutSub {
        flex-direction: column;
      }
      .list {
        display: flex;
        flex-direction: column;
        div {
          background-color: rgba(254, 255, 33, 0.3);
          border-radius: 5px;
          margin: 10px;
          font-size: 16px;
          transform: none;
          ul {
            padding-inline-start: 0px;
            p {
              transform: none;
            }
          }
        }
      }
    }
  }
  .hidden {
    position: absolute;
    visibility: hidden;
  }
  #keyOfferingsSection {
    .offeringContainer {
      flex-direction: column;
      align-items: center;
      .offeringItem {
        height: auto;
        p {
          height: $line-height * $font-size * 5;
          overflow: hidden;
          margin: 0px;
        }
        h3 {
          margin: 0px;
        }
      }
    }
  }
  .expand {
    height: auto;
  }
  .container {
    width: 80%;
    padding-left: 10%;
  }
}
