$padding-left: 20%;
$margin: 10px 20px;
$padding: 10px;
$input-font-size: 24px;
$thumbs-up-green: #4bb543;
$thumbs-down-red: #ff0000;
$border-style-single: 2px solid black;
$border-style-double: 2px double black;
$border-style-after: 5px solid white;
$color-bg-primary: cornsilk;
$color-bg-secondary: grey;
$color-section-primary: rgba(244, 110, 66, 1);
$color-section-secondary: rgba(255, 255, 0, 0.2);
$color-section-accent: black;
$line-height: 1.5;
$font-size: 20px;
html {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  //background-color: floralwhite;
  background-color: $color-bg-primary;
  font-size: 20px;
  line-height: $line-height;
  // last minute idea
  background: linear-gradient(
    90deg,
    $color-bg-secondary 0%,
    $color-bg-primary 20% 80%,
    $color-bg-secondary
  );
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  padding-left: 10%;
  padding-top: 10px;
  width: 58%;
  display: inline-block;
}

#menu {
  display: none;
  padding: $padding;
}

.navigation {
  display: flex;
  justify-content: center;
  border-top: $border-style-single;
  .navLink {
    display: inline-block;
    margin: $margin;
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.container {
  width: 60%;
  padding-left: $padding-left;
}

ul {
  li {
    padding: $padding;
    margin: $margin;
    list-style-type: upper-roman;
  }
}
section {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  border-top: $border-style-double;
  overflow: hidden;
  h2 {
    display: block;
    text-align: center;
    margin: 0;
  }
}

#projects {
  display: flex;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .projectItem {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border-style-single;
    margin: 10px;
    padding: $padding;
    img {
      max-width: 200px;
    }
    hr {
      width: 100%;
    }
  }
}

#about {
  width: 100%;
  overflow: hidden;
  p {
    font-size: 40px;
    font-weight: bold;
    display: inline;
  }
  a {
    font-size: 40px;
    text-decoration: none;
    display: inline-block;
    background-color: $thumbs-up-green;
    padding: 10px;
    border: $border-style-single;
  }
}

.sectionBg {
  content: "";
  position: absolute;
  background: linear-gradient(
      45deg,
      $color-section-primary,
      $color-section-secondary
    )
    no-repeat;
  //   url(img/apple2-min.jpg) no-repeat 100% 0%;
  // background-size: 100%, 50% 100%;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.afterSection {
  content: "";
  position: absolute;
  background-color: $color-section-accent;
  top: 0;
  left: 0;
  width: 94%;
  height: 96%;
  transform: skew(-30deg, -4deg);
  opacity: 0.5;
  border: $border-style-after;
  z-index: -1;
  mix-blend-mode: overlay;
}

.offeringContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .offeringItem {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: $margin;
    align-items: center;
    i {
      display: block;
    }
    h3 {
      text-align: center;
      height: 70px;
    }
    p {
      height: $line-height * $font-size * 5;
      overflow: hidden;
      text-align: center;
    }
  }
}

#contact {
  .contactForm {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      padding: $padding;
      font-size: $input-font-size;
    }
  }

  .contactSent {
    display: none;
  }
  .contactSuccess {
    position: absolute;
    top: 200px;
    width: 10%;
    //<i class="fas fa-thumbs-up"></i>
    i {
      color: $thumbs-up-green;
    }
  }

  .contactFail {
    position: absolute;
    top: 200px;
    width: 10%;
    //<i class="fas fa-thumbs-down"></i>
    i {
      color: $thumbs-down-red;
    }
  }
}

.aboutSub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  h3 {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  #menu {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    .navLink {
      display: inline-block;
      margin: $margin;
      border: $border-style-single;
      a {
        color: black;
        text-decoration: none;
        h4 {
          text-align: center;
        }
      }
    }
  }
  #about {
    .container {
      p {
        display: none;
      }
      .aboutSub {
        flex-direction: column;
      }
      .list {
        display: flex;
      }
    }
  }
  .hidden {
    position: absolute;
    visibility: hidden;
  }
  #keyOfferings {
    .offeringContainer {
      flex-direction: column;
      align-items: center;
      .offeringItem {
        height: auto;
        p {
          height: $line-height * $font-size * 5;
          overflow: hidden;
          margin: 0px;
        }
        h3 {
          margin: 0px;
        }
      }
    }
  }
  .expand {
    height: auto;
  }
  .container {
    width: 80%;
    padding-left: 10%;
  }
}
