html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: cornsilk;
  font-size: 20px;
  line-height: 1.5;
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

.title {
  position: relative;
  height: auto;
  border-bottom: 2px double black;
  padding-left: 20%;
}

.title h1,
.title p {
  display: inline-block;
}

.title h1 {
  font-size: 4em;
  font-weight: 600;
}

.title p {
  font-style: italic;
  font-size: 16px;
  position: relative;
  top: 1.5em;
  right: 8%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .navLink {
  display: inline-block;
  margin: 10px 20px;
}

.navigation .navLink a {
  color: black;
  text-decoration: none;
}

section {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  border-top: 2px double black;
  overflow: hidden;
}

section h2 {
  display: block;
  text-align: center;
  margin: 0;
}

.container {
  width: 60%;
  padding-left: 20%;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projectList .projectItem {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.projectList .projectItem img {
  max-width: 200px;
}

.projectList .projectItem hr {
  width: 100%;
}

#about {
  width: 100%;
  overflow: hidden;
}

#about p {
  font-size: 40px;
  font-weight: bold;
  display: inline;
}

#about a {
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  background-color: #4bb543;
  padding: 10px;
  border: 2px solid black;
}

#about::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #f46e42, rgba(255, 255, 0, 0.2)) no-repeat, url(img/apple2.jpg) no-repeat 100% 0%;
  background-size: 50%, 55% 100%;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

#about::after {
  content: "";
  position: absolute;
  background-color: cornsilk;
  top: 0;
  left: 0;
  width: 94%;
  height: 96%;
  -webkit-transform: skew(-30deg, -4deg);
          transform: skew(-30deg, -4deg);
  opacity: 0.2;
  border: 2px double black;
  z-index: -1;
}

#keyOfferings::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #f46e42, rgba(255, 255, 0, 0.2)) no-repeat, url(img/apple3.jpg) no-repeat 100% 0%;
  background-size: 50%, 55% 100%;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

#keyOfferings::after {
  content: "";
  position: absolute;
  background-color: cornsilk;
  top: 0;
  left: 0;
  width: 94%;
  height: 96%;
  -webkit-transform: skew(-30deg, -4deg);
          transform: skew(-30deg, -4deg);
  opacity: 0.2;
  border: 2px double black;
  z-index: -1;
}

.offeringContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offeringItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  margin: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offeringItem i {
  display: block;
}

.offeringItem h3 {
  text-align: center;
  height: 70px;
}

#contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contactForm input,
#contact .contactForm textarea {
  padding: 10px;
  font-size: 24px;
}

#contact .contactSent {
  display: none;
}

.contactSuccess {
  position: absolute;
  top: 200px;
  width: 10%;
}

.contactSuccess i {
  color: #4bb543;
}

.contactFail {
  position: absolute;
  top: 200px;
  width: 10%;
}

.contactFail i {
  color: #ff0000;
}
