html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: cornsilk;
  font-size: 20px;
  line-height: 1.5;
  background: -webkit-gradient(linear, left top, right top, from(grey), color-stop(20%, rgba(244, 222, 66, 0.5)), to(grey));
  background: linear-gradient(90deg, grey 0%, rgba(244, 222, 66, 0.5) 20% 80%, grey);
}

h2 {
  font-size: 3em;
  font-weight: 400;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
}

.logo {
  padding-left: 10%;
  padding-top: 10px;
  width: 58%;
  display: inline-block;
}

#menu {
  display: none;
  padding: 10px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .navLink {
  display: inline-block;
  margin: 10px 20px;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation h4 {
  text-align: center;
}

.fixed {
  position: fixed;
  height: auto;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(grey), color-stop(20%, #f4de42), to(grey));
  background: linear-gradient(90deg, grey 0%, #f4de42 20% 80%, grey);
  z-index: 1;
  border-bottom: 2px solid black;
}

.container {
  width: 60%;
  padding-left: 20%;
}

ul li {
  padding: 10px;
  margin: 10px 20px;
  list-style-type: upper-roman;
}

section {
  padding: 20px 0px;
  position: relative;
  width: 100%;
  border-top: 2px double black;
  overflow: hidden;
}

section h2 {
  display: block;
  text-align: center;
  margin: 0;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectList .projectItem {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.projectList .projectItem img {
  max-width: 200px;
}

.projectList .projectItem hr {
  width: 100%;
}

#about {
  width: 100%;
  overflow: hidden;
}

#about p {
  font-size: 40px;
  font-weight: bold;
  display: inline;
}

#about a {
  font-size: 40px;
  text-decoration: none;
  display: inline-block;
  background-color: #4bb543;
  padding: 10px;
  border: 2px solid black;
}

.sectionBg {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #f46e42, rgba(255, 255, 0, 0.2)) no-repeat;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.afterSection {
  content: "";
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 94%;
  height: 96%;
  -webkit-transform: skew(-30deg, -4deg);
          transform: skew(-30deg, -4deg);
  opacity: 0.5;
  border: 5px solid white;
  z-index: -1;
  mix-blend-mode: overlay;
}

.offeringContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offeringContainer .offeringItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  margin: 10px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offeringContainer .offeringItem i {
  display: block;
}

.offeringContainer .offeringItem h3 {
  text-align: center;
  height: 70px;
}

.offeringContainer .offeringItem p {
  height: 150px;
  overflow: hidden;
  text-align: center;
}

#contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contactForm input,
#contact .contactForm textarea {
  padding: 10px;
  font-size: 24px;
}

#contact .contactSent {
  display: none;
}

#contact .contactSuccess {
  position: absolute;
  top: 200px;
  width: 10%;
}

#contact .contactSuccess i {
  color: #4bb543;
}

#contact .contactFail {
  position: absolute;
  top: 200px;
  width: 10%;
}

#contact .contactFail i {
  color: #ff0000;
}

.aboutSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutSub h3 {
  text-align: center;
}

.list div {
  background-color: rgba(254, 255, 33, 0.3);
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
}

.list div ul {
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

@media only screen and (max-width: 767px) {
  #menu {
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: none;
  }
  .navigation .navLink {
    display: inline-block;
    margin: 10px 20px;
    border: 2px solid black;
  }
  .navigation .navLink a {
    color: black;
    text-decoration: none;
  }
  .navigation .navLink a h4 {
    text-align: center;
  }
  #about {
    border-top: none;
  }
  #about .container p {
    display: none;
  }
  #about .container .aboutSub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about .container .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about .container .list div {
    background-color: rgba(254, 255, 33, 0.3);
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
  }
  #about .container .list div ul {
    -webkit-padding-start: 20px;
            padding-inline-start: 20px;
  }
  .hidden {
    position: absolute;
    visibility: hidden;
  }
  #keyOfferings .offeringContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #keyOfferings .offeringContainer .offeringItem {
    height: auto;
  }
  #keyOfferings .offeringContainer .offeringItem p {
    height: 150px;
    overflow: hidden;
    margin: 0px;
  }
  #keyOfferings .offeringContainer .offeringItem h3 {
    margin: 0px;
  }
  .expand {
    height: auto;
  }
  .container {
    width: 80%;
    padding-left: 10%;
  }
}
